<div class="input-group">
    <textarea class="form-control custom-control" rows="3" style="resize:none"</textarea> 
    <span class="input-group-btn">
        <button class="btn btn-primary">                            
            <span>Send</span>
        </button>
    </span>
</div>

<% if item.comments.empty? %>
  <br>No comments to display.
<% else %>
  <% for comment in item.comments %>
    <p><strong><%= comment.commenter + ":" %></strong>
    	<%= comment.body %>
       <%if can? :destroy , comment %>
       
         <p><%= link_to ' Delete', 
            [comment.commentable,comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
            <%end%> 

    </p>
  <% end %>
<% end %>
<p width="100%"><%= form_for [item, Comment.new()] do |f| %> 
    <%="Comment:"+ current_user.email%><br/>
    <%= f.text_area :body %>
    <%= f.submit %> 
<% end %>
</p>

