<h1>Listing Albums</h1>
 <%= link_to 'New album',  new_album_path %>
 
<table width =500 height =100>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <% @album.each do |album| %>
    <tr>
      <td><%= link_to album.title ,album_path(album.id)%></td>
      <td><%= album.description %></td><br><br>
      <td><%if can? :edit , album %>
        <%= link_to  edit_album_path(album) do %>
         <span class ="glyphicon glyphicon-edit"></span>  <%end%>
        <%end%></td>
      <td><%if can? :destroy , album%>
         <%= link_to album_path(album),
              method: :delete,
              data: { confirm: 'Are you sure?' } do%>
              <span class ="glyphicon glyphicon-trash"></span> <%end%> 
              <%end%></td>
     <td><%if can? :manage , album %> 
      <%= link_to new_album_picture_path(album) do %>
        <span class ="glyphicon glyphicon-upload"></span>  <%end%>
        <%end%></td>
    </tr>
  <% end %>
</table>
