<!DOCTYPE html>
<html>
<head  >
 <title>blog </title>
  <%= stylesheet_link_tag    'main.scss'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class ="app-body">
  <header class ="app-head"><%= link_to "logout", destroy_user_session_path, :method => :delete %></header>
  
  <%= yield %>
</body>
</html>
